
.vs/HRM_Project/FileContentIndex/6554547a-bd2d-4ad3-976b-192eeab5e5b1.vsidx
HRM_Project/obj/Debug/net8.0/HRM_Project.AssemblyInfoInputs.cache
HRM_Project/obj/Debug/net8.0/HRM_Project.AssemblyInfo.cs
.vs/HRM_Project/FileContentIndex/6e2592a3-9ebe-4aa6-aea6-fd5b34b09177.vsidx
HRM_Project/obj/Debug/net8.0/HRM_Project.AssemblyInfo.cs
HRM_Project/obj/Debug/net8.0/HRM_Project.AssemblyInfoInputs.cache
HRM_Project/obj/Debug/net8.0/HRM_Project.csproj.AssemblyReference.cache
HRM_Project/obj/Debug/net8.0/HRM_Project.GeneratedMSBuildEditorConfig.editorconfig
